<!-- <app-header titulo="Avatar" ></app-header> -->
<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" ></ion-back-button>
      </ion-buttons>
      <ion-title text-capitalize>avatar</ion-title>
      <ion-buttons slot="end">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <ion-chip color="primary" *ngFor="let i of [1,1,1,1,1,1]" >
      <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Alalalalala </ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let i of [1,1,1,1,1,1,1]">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Alalalalala </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
