<app-header titulo="Cards"></app-header>

<ion-content padding>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate error ea minus maxime optio dicta reiciendis aperiam fugit alias laborum sapiente quia sequi neque magni praesentium deleniti, perferendis saepe.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="./assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eius exercitationem repudiandae? Beatae accusantium, accusamus libero veritatis pariatur ab praesentium. Praesentium qui eos optio aperiam. Adipisci modi cum enim veritatis.
    </ion-card-content>
  </ion-card>

</ion-content>
